<div id="navigationSection" class="footerSection">
    <a>{{home}}</a>
    <a>Jacky</a>
    <a>{{products}}</a>
    <a>{{clients}}</a>
    <a id="footerBookBtn">{{bookNow}}</a>
</div>
<div id="logoSection" class="footerSection">
    <img src="../../../assets/img/logo.png" id="footerLogo">
</div>
<div id="navigationSectionMobile" class="footerSection">
    <a>{{home}}</a>
    <a>Jacky</a>
    <a>{{products}}</a>
    <a>{{clients}}</a>
    <a id="footerBookBtn">{{bookNow}}</a>
</div>
<div id="   " class="footerSection">
    <p id="footerContactInfo">
    <i class="fas fa-phone-alt"></i>
    <span>214-909-0703</span><br>
    <i class="far fa-envelope"></i> 
    <span>infusionspa@contact.com</span><br>
    <i class="fas fa-map-marker-alt" ></i>
    <span>Firewheel Salons 4280 Lavon Drive
    Garland, Tx 75040. Suite #27</span>
    </p>
</div>
