<div id="navbarBackground">
    <img src="../../../assets/img/logo.png" id="navbarLogo">
    <div id="navbarLinks">
        <a>{{home}}</a>
        <a>{{treatments}}</a>
        <a>{{products}}</a>
        <a>{{aboutJacky}}</a>
        <a>{{reviews}}</a>
        <a class="bookBtn">{{bookNow}}</a>
    </div>
    <a class="bookBtn" id="mobileBookNow">{{bookNow}}</a>
    <a class="icon" id="hamburgerMenu" (click)="toggleMenu()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div id="navbarLinksMobile">
    <a>{{home}}</a>
    <a>{{treatments}}</a>
    <a>{{products}}</a>
    <a>{{aboutJacky}}</a>
</div>
