#bookingWrapper{
    background-color: #4E6665;
    height: 350px;
}

#schedulerTitle{
    position: relative;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 8px;
    font-size: 40px;
    margin: 0;
    text-align: center;
    padding-top: 40px;
    padding-left: 34%;
}

.mat-datepicker-toggle{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 7px;
    color: white;
}

i{
    margin-right: 10px;
}

option{
    text-transform: capitalize;
}

#schedulerSubtitle{
    position: relative;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 0;
    text-align: center;
    padding-left: 34%;
    white-space: pre-line;
}

#bookingFormWrapper{
    position: absolute;
    display: flex;
    width: 80%;
    left: 10%;
    top: 300px;
    background-color: white;
    box-shadow: 16px 16px 25px rgba(0, 0, 0, 0.20);
    z-index: 12;
}

#contactInfo{
    position: relative;
    display: inline;
    color: #747474;
    width: 40%;
    bottom: 0;
    left: 15px;
    height: max-content;
    margin: 0;
    margin-top: auto;
    margin-bottom: 20px;
    letter-spacing: 1.8px;
    font-weight: 300;
    line-height: 25px;
    font-size: 13px;
    margin-left: 10px;
}

.asteriskDiv{
    position: relative;
    width: 80%;
    margin-left: 10%;
}

.asteriskDiv p{
    position: absolute;
    left: -10px;
    color: #4E6665;
    top: -8px;
}

.asteriskDivHalf p{
    position: absolute;
    left: -10px;
    color: #4E6665;
    top: -8px;
}

.lastInput p{
    left: -9px;
}

.asteriskDivHalf{
    position: relative;
    width: 39%;
    margin-left: 1%;
    margin-right: 1%;
}

#bookingForm{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 30px;
}

#dateBlock{
    width: 30px;
    margin-top: 10px;
    height: 35px;
    background-color: #4E6665;
    position: absolute;
    top: 0;
    right: 0;
}

form input, form select{
    border: none;
    background-color: #4E6665;
    color: white;
    padding-left: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif !important;
}

form input[type=submit]{
    padding-left: 0;
}

option{
    font-family: 'Poppins', sans-serif !important;
}

input:disabled{
    background-color: #4E6665 ;
    opacity: 1;
}

@-moz-document url-prefix() {
    form input[type=text] {padding-left:15px !important;}
}


select{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 10px) calc(1em + 2px),
    calc(100% - 2.3em) 0.5em;
  background-size:
    5px 6px,
    5px 6px,
    1px 1.5em;
  background-repeat: no-repeat;
}

form select:hover{
    background-color: #8DC5B5;
}

form select option:checked{
    background-color: #4E6665;
}

select:-moz-focusring {
color: transparent;
text-shadow: 0 0 0 #000;
}

::placeholder{
    color: white;
    opacity: 1;
}

.addressSpan{
    margin-left: 24.5px;
}

.markerIcon{
    margin-right: 13.5px !important;
}


.formFullWidth{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
}

.formHalfWidth{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
}

.firstInput{
    margin-left: 10%;
}

.lastInput{
    margin-right: 10%;
}

#schedulerBookBtn{
    background-color: #4E6665;
    padding: 8px 40px;
    font-size: 12px;
    margin: auto;
    margin-top: 25px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    transition: 1s;
    cursor: pointer;
}

#schedulerBookBtn:hover{
    background-color: #8DC5B5;
}

#bookingImg{
    position: absolute;
    box-shadow: 16px 16px 25px rgba(0, 0, 0, 0.20);
    max-width: 600px;
    width: 55%;
    top: -25vw;
    left: -12.5%;
    z-index: 13;
}

#disclaimerText{
    position: absolute;
    bottom: -50px;
    color: #747474;
    white-space: pre-line;
    padding-left: 20px;
    text-indent: -10px;
    font-weight: 300;
    font-size: 10px;
}

@media only screen and (max-width: 1000px){

    #schedulerTitle{
        padding-left: 0%;
        letter-spacing: 1px;
    }

    .addressSpan{
        margin-left: 34.8px;
    }

    .markerIcon{
        margin-right: 15.5px !important;
    }

    #schedulerSubtitle{
        padding-left: 0;
    }

    #bookingWrapper{
        height: 500px;
    }

    #bookingFormWrapper{
        flex-direction: column-reverse;
        position: relative;
        margin-top: 20px;
        top: 0;
    }

    .formHalfWidth{
        width: 100%
    }

    .asteriskDivHalf{
        width: 80%;
        margin-left: 10%;
    }

    .lastInput p{
        left: -10px;
    }

    #bookingForm{
        width: 100%;
    }

    #bookingImg{
        display: none;
    }

    i{
        font-size: 24px;
        margin-right: 10px;
    }

    #contactInfo{
        width: 100%;
        margin-top: 30px;
        line-height: 35px;
        font-size: 12px;
        letter-spacing: 1.8px;
        white-space: normal;
    }

    #schedulerBookBtn{
        width: 80%;
        text-align: center;

    }

    #disclaimerText{
        white-space: normal;
        bottom: -60px;
    }


}

@media only screen and (max-width: 800px){

    #schedulerTitle{
        padding-left: 20px;
        padding-right: 20px;
    }

    .addressSpan{
        margin-left: 33px;
    }

    #schedulerSubtitle{
        padding-left: 20px;
        padding-right: 20px;
    }

    #petal22{
        right: 0;
        bottom: 50px;
        transform: rotate(-15deg);
    }

    #contactInfo{
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 400px){
    #contactInfo{
        font-size: 10px;
    }

    #petal22{
        display: none;
    }
}


@media only screen and (min-width: 1300px){
    #bookingFormWrapper{
        width: 920px;
        left: 50%;
        margin-left: -460px;
    }

    #bookingImg{
        width: 500px;
        left: -120px;
        top: -280px;
    }

    #schedulerTitle{
        padding-left: 0;
    }

    #schedulerSubtitle{
        padding-left: 0;
    }

    #bookingTitles{
        position: relative;
        width: 920px;
        left: 50%;
        margin-left: -280px;
    }

}