#introImg{
    width: 60%;
    max-width: 550px;
    max-height: 550px;
    margin-left: 5%;
}

#introText{
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    right: -150px;
    position: relative;
}

#introLogo{
    width: 600px;
    margin-top: 100px;
}

#introText p{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
    color: #747474;
}

.bookBtn{
    padding: 8px 40px;
    background-color: #4E6665;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 1400px){
    #introText{
        right: -20px;
    }

    #introLogo{
        width: 60%;
        min-width: 350px;
    }
}

@media only screen and (max-width: 1000px){
    #introImg{
        width: 100%;
        max-width: none;
        max-height: none;
        margin: 0;
    }

    #introText{
        width: 90%;
        left: 5%;
    }

    #introLogo{
        margin-top: 0;
        width: 70%;
    }

    #introText p{
        width: 70%;
    }

    .bookBtn{
        width: 80%;
    }

}
