<p id="reviewsTitle">{{ 'REVIEWS.reviewsTitle' | translate }}</p>
<p id="reviewsSubtitle">{{ 'REVIEWS.reviewsSubtitle' | translate }}</p>
<div id="reviewsWrapper">
    <div class="review currentReview" #carouselItem>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp; Jeanene C.&nbsp; 22/05/2020</p>
        <p>Jacky is very knowledgeable about her profession, products used and always takes her time to make sure what fits my skin type. She always gives me quality service, makes sure I understand what my service includes, the benefits of the Facial given and the care I need to follow up with. Her spa is very cozy, clean and quiet... makes me feel like a special client every time! So glad i found her for my skin needs</p>
    </div>
    <div class="review nextReview" #carouselItem>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp; Ashley J.&nbsp; 9/04/2020</p>
        <p>Jacky is helping me get my skin back to normal after suddenly taking a turn for the worse for a couple years. My acne hadn't been that bad since I was a teenager, plus, aging was starting to set in since I'm in my 30s. Nothing was helping my acne, including the dermatologist. With her treatment and recommendations, my acne is finally clearing up and looks so much better in 4 treatments. My skin is also a lot more supple than it was when I first starting seeing her. I'm so glad I found her!</p>
    </div>
    <div class="review" #carouselItem>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp; Mary Helen Quezada&nbsp; 17/07/2020</p>
        <p>I wanted to take a moment and comment on what a wonderful my son and I had at the new Infusion Spa. I took my 17 year old son in for a facial, his skin is acne prone and he had Senior pictures that afternoon so I was a little worried. I shouldn't have been, it was such a beautiful, sterile environment. The owner Jaqueline Torrejon was amazing. She explained everything everything as she was doing it and kept reassuring me that his skin would not look red or splotchy for his pictures. She was correct, he looked great. I highly recommend Infusion Spa and Jaqueline Torrejon; I can't wait for my facial.</p>
    </div>
    <div class="review" #carouselItem>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp; Barbara Moore&nbsp; 12/01/2020</p>
        <p>Jaqueline has been my aesthetician for over 14 years. Her innovative beauty approach and skills are exceptional. My skin is so much better. Tahnks for making me look younger.</p>
    </div>
    <div class="review" #carouselItem>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp; Tenisha T.&nbsp; 18/08/2020</p>
        <p>Jacky is amazing because she takes the time to really evaluate your skin and design a treatment plan tailored to you. She is beyond kind & a pleasure to be in her care.</p>
    </div>
    <div class="review previousReview" #carouselItem>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp; Claudia Soria&nbsp; 07/03/2020</p>
        <p>Lo experiencia en Infusión Spa es única, las manos y el asesoramiento profesional de Jacky en cuanto a las necesidades de mi piel fueron las más acertadas con los mejores resultados!</p>
    </div>
    <button class="w3-button w3-display-left sliderArrow" (click)="left()"><i class="fas fa-chevron-left"></i></button>
    <button class="w3-button w3-display-right sliderArrow" (click)="right()"><i class="fas fa-chevron-right"></i></button>
</div>
<div class="petalMobile" id="petal21" ><img src="./assets/img/petal3.png" class="petalImg"></div>
  
  
<div id="reviewsSliderControls">
    <div class="reviewsSliderBtn reviewsChosenSliderBtn" #carouselButton (click)="selectReview(0)"></div>
    <div class="reviewsSliderBtn" #carouselButton (click)="selectReview(1)"></div>
    <div class="reviewsSliderBtn" #carouselButton (click)="selectReview(2)"></div>
    <div class="reviewsSliderBtn" #carouselButton (click)="selectReview(3)"></div>
    <div class="reviewsSliderBtn" #carouselButton (click)="selectReview(4)"></div>
    <div class="reviewsSliderBtn" #carouselButton (click)="selectReview(5)"></div>
</div>
<p class="swipeText">{{ 'REVIEWS.swipeText' | translate }}</p>