<div id="aboutImg">
    <img src="../../../assets/img/logo.png" id="aboutLogo">
</div>
<div id="aboutInfo">
    <p id="aboutTitle">{{ 'ABOUT.aboutTitle' | translate }}</p>
    <p id="aboutText">{{ 'ABOUT.aboutText' | translate }}</p>
    <p id="aboutQuote">"{{ 'ABOUT.aboutQuote' | translate }}" - Jacky</p>
</div>
<div id="aboutCardWrapper">
    <div class="aboutCard">
        <img src="../../../assets/img/cardFirst.png" class="cardImg">
        <p class="cardTitle">{{ 'ABOUT.cardTitleFirst' | translate }}</p>
        <p class="cardText">{{ 'ABOUT.cardTextFirst' | translate }}</p>
    </div>
    <div class="aboutCard">
        <img src="../../../assets/img/cardSecond.png" class="cardImg" id="largeIcon">
        <p class="cardTitle">{{ 'ABOUT.cardTitleSecond' | translate }}</p>
        <p class="cardText">{{ 'ABOUT.cardTextSecond' | translate }}</p>
    </div>
    <div class="aboutCard">
        <img src="../../../assets/img/cardThird.png" class="cardImg">
        <p class="cardTitle">{{ 'ABOUT.cardTitleThird' | translate }}</p>
        <p class="cardText">{{ 'ABOUT.cardTextThird' | translate }}</p>
    </div>
</div>
<a id="aboutBtn" (click)="scroll('book')">{{ 'ABOUT.aboutButton' | translate }}</a>
