<app-navbar></app-navbar>
<app-intro-section></app-intro-section>
<app-treatments></app-treatments>
<app-products></app-products>
<app-about></app-about>
<app-reviews></app-reviews>
<app-scheduler></app-scheduler>
<app-footer></app-footer>

<div appParallax [ratio]="0.5" class="petal" id="petal1"><img src="./assets/img/petal1.png" class="petalImg"></div>
<div appParallax [ratio]="0.5" class="petal" id="petal2"><img src="./assets/img/petal4.png" class="petalImg"></div>
<div appParallax [ratio]="0.5" class="petal" id="petal3"><img src="./assets/img/petal3.png" class="petalImg"></div>
<div appParallax [ratio]="0.5" class="petal" id="petal4"><img src="./assets/img/petal2.png" class="petalImg"></div>
<div appParallax [ratio]="0.5" class="petal" id="petal5"><img src="./assets/img/petal4.png" class="petalImg"></div>
<div appParallax [ratio]="0.4" class="petal" id="petal6"><img src="./assets/img/petal3.png" class="petalImg"></div>
<div appParallax [ratio]="0.5" class="petal" id="petal7"><img src="./assets/img/petal2.png" class="petalImg"></div>
<div appParallax [ratio]="0.5" class="petal" id="petal8"><img src="./assets/img/petal1.png" class="petalImg"></div>
<div appParallax [ratio]="0.5" class="petal" id="petal9"><img src="./assets/img/petal4.png" class="petalImg"></div>
<div appParallax [ratio]="0.2" class="petal" id="petal10"><img src="./assets/img/petal3.png" class="petalImg"></div>
<div appParallax [ratio]="0.5" class="petal" id="petal11"><img src="./assets/img/petal1.png" class="petalImg"></div>