<router-outlet></router-outlet>

<div appParallax [ratio]="0.6" class="petal" id="petal1" *ngIf="showPetals" ><img src="./assets/img/petal1.png" class="petalImg" ></div>
<div appParallax [ratio]="0.5" class="petal" id="petal2" *ngIf="showPetals" ><img src="./assets/img/petal4.png" class="petalImg" ></div>
<div appParallax [ratio]="0.5" class="petal" id="petal3" *ngIf="showPetals" ><img src="./assets/img/petal3.png" class="petalImg" ></div>
<div appParallax [ratio]="0.5" class="petal" id="petal4" *ngIf="showPetals" ><img src="./assets/img/petal2.png" class="petalImg" ></div>
<div appParallax [ratio]="0.5" class="petal" id="petal5" *ngIf="showPetals" ><img src="./assets/img/petal4.png" class="petalImg" ></div>
<div appParallax [ratio]="0.4" class="petal" id="petal6" *ngIf="showPetals" ><img src="./assets/img/petal3.png" class="petalImg" ></div>
<div appParallax [ratio]="0.5" class="petal" id="petal7" *ngIf="showPetals" ><img src="./assets/img/petal2.png" class="petalImg" ></div>
<div appParallax [ratio]="0.4" class="petal" id="petal8" *ngIf="showPetals" ><img src="./assets/img/petal1.png" class="petalImg" ></div>
<div appParallax [ratio]="0.5" class="petal" id="petal9" *ngIf="showPetals" ><img src="./assets/img/petal4.png" class="petalImg" ></div>
<div appParallax [ratio]="0.5" class="petal" id="petal10" *ngIf="showPetals"><img src="./assets/img/petal3.png" class="petalImg" ></div>
<div appParallax [ratio]="0.5" class="petal" id="petal11" *ngIf="showPetals"><img src="./assets/img/petal1.png" class="petalImg" ></div>
<div class="petalMobile" id="petal12" *ngIf="showPetals"><img src="./assets/img/petal3.png" class="petalImg"></div>
<div class="petalMobile" id="petal13" *ngIf="showPetals"><img src="./assets/img/petal4.png" class="petalImg"></div>
<div class="petalMobile" id="petal14" *ngIf="showPetals"><img src="./assets/img/petal1.png" class="petalImg"></div>
<div class="petalMobile" id="petal15" *ngIf="showPetals"><img src="./assets/img/petal4.png" class="petalImg"></div>