<div id="adminBackground">
    <div id="adminWrapper">
        <h2 style="margin-bottom: 30px;">¡Bienvenida, Jacky!</h2>
        <h2>Productos</h2>
        <div class="tableWrapper" style="margin-bottom: 30px;">
            <div class="productosRow">
                <p>Nombre</p>
                <p>Descripción</p>
                <p>Precio</p>
                <p>Imagen</p>
            </div>
            <div *ngFor="let producto of productosList" class="productosRow">
                <p>{{producto.name}}</p>
                <p>{{producto.description}}</p>
                <p>${{producto.price}}</p>
                <p><img src="{{producto.image}}" class="adminImg"></p>
                <i class="fas fa-times deleteIconProd" (click)="deleteProduct(producto.id)"></i>
            </div>
        </div>
        <button class="addProductBtn" (click)="showProductForm()">Agregar Producto</button>
        <form id="productForm">
            <input [(ngModel)]=product.name type="text" name="name" placeholder="Nombre del producto" required/>
            <input [(ngModel)]=product.description type="text" name="description" placeholder="Descripción del producto" required/>
            <input [(ngModel)]=product.price type="number" name="price" placeholder="Precio del producto" required/>
            <input [(ngModel)]=product.image type="text" name="imageUrl" placeholder="URL de la imagen del producto" required/>
            <input type="submit" (click)="addProduct()" value="Agregar" class="addProductBtn" id="addProductFormBtn">
        </form>
        <h2>Citas Agendadas</h2>
        <div class="tableWrapper">
            <div class="tableRow">
                <p>Nombre</p>
                <p>Tratamiento</p>
                <p>Email</p>
                <p>Telefono</p>
                <p>Fecha</p>
                <p>Hora</p>
            </div>
            <div *ngFor="let booking of bookingsList" class="tableRow">
                <p>{{booking.Nombre}}</p>
                <p>{{booking.Tratamiento}}</p>
                <p>{{booking.Email}}</p>
                <p>{{booking.Telefono}}</p>
                <p>{{booking.Fecha}}</p>
                <p>{{booking.Hora}}</p>
                <i class="fas fa-times deleteIcon" (click)="deleteBooking(booking.id)"></i>
            </div>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
</div>

<button id="logoutBtn" (click)="logout()">Cerrar Sesión</button>

