<div id="adminBackground">
    <div id="adminWrapper">
        <h2 style="margin-bottom: 30px;">¡Bienvenida, Jacky!</h2>
        <button id="logoutBtn" (click)="logout()">Cerrar Sesión</button>
        <h2>Citas Agendadas</h2>
        <div class="tableWrapper">
            <div class="tableRow">
                <p>Nombre</p>
                <p>Tratamiento</p>
                <p>Email</p>
                <p>Teléfono</p>
                <p>Fecha</p>
                <p>Hora</p>
            </div>
            <div *ngFor="let booking of bookingsList" class="tableRow">
                <p>{{booking.Nombre}}</p>
                <p>{{booking.Tratamiento}}</p>
                <p>{{booking.Email}}</p>
                <p>{{booking.Telefono}}</p>
                <p>{{booking.Fecha}}</p>
                <p>{{booking.Hora}}</p>
                <i class="fas fa-times deleteIcon" (click)="deleteBooking(booking.id)"></i>
            </div>
        </div>
        <button class="addProductBtn" (click)="showProductForm()">Apartar horario</button>
        <form id="productForm">
            <div style="position: relative; width: 80%; left: 10%;"><input style="width: 100%; left: 0;" [(ngModel)]="booked.Fecha" disabled [ngModelOptions]="{standalone: true}" name="Fecha" class="formHalfWidth" matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Selecciona una Fecha" (dateChange)="checkHour($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker></div>
            <select name="hora" [(ngModel)]=booked.Hora>
                <option value="" selected disabled>Selecciona una hora</option>
                <option value ="10 am">10 am</option>
                <option value ="11 am">11 am</option>
                <option value ="12 pm">12 pm</option>
                <option value ="1 pm">1 pm</option>
                <option value ="2 pm">2 pm</option>
                <option value ="3 pm" *ngIf="dateChosen">3 pm</option>
                <option value ="4 pm" *ngIf="dateChosen">4 pm</option>
                <option value ="5 pm" *ngIf="dateChosen">5 pm</option>
                <option value ="6 pm" *ngIf="dateChosen">6 pm</option>
                <option value ="7 pm" *ngIf="dateChosen">7 pm</option>
            </select>
            <input type="submit" (click)="addBooking()" value="Apartar" class="addProductBtn" id="addProductFormBtn">
        </form>
        <!--<h2>Productos</h2>
        <div class="tableWrapper" style="margin-bottom: 30px;">
            <div class="productosRow">
                <p>Nombre</p>
                <p>Descripción</p>
                <p>Precio</p>
                <p>Imagen</p>
            </div>
            <div *ngFor="let producto of productosList" class="productosRow">
                <p>{{producto.name}}</p>
                <p>{{producto.description}}</p>
                <p>${{producto.price}}</p>
                <p><img src="{{producto.image}}" class="adminImg"></p>
                <i class="fas fa-times deleteIconProd" (click)="deleteProduct(producto.id)"></i>
            </div>
        </div>
        <button class="addProductBtn" (click)="showProductForm()">Agregar Producto</button>
        <form id="productForm">
            <input [(ngModel)]=product.name type="text" name="name" placeholder="Nombre del producto" required/>
            <input [(ngModel)]=product.description type="text" name="description" placeholder="Descripción del producto" required/>
            <input [(ngModel)]=product.price type="number" name="price" placeholder="Precio del producto" required/>
            <input [(ngModel)]=product.image type="text" name="imageUrl" placeholder="URL de la imagen del producto" required/>
            <input type="submit" (click)="addProduct()" value="Agregar" class="addProductBtn" id="addProductFormBtn">
        </form>-->
    </div>
</div>

