<div id="navbarBackground">
    <img src="../../../../assets/img/logo.png" id="navbarLogo">
    <div id="navbarLinks">
        <a (click)="scroll('intro')">{{'NAVBAR.home'| translate }}</a>
        <a (click)="scroll('treatments')">{{'NAVBAR.treatments' | translate }}</a>
        <a (click)="scroll('products')">{{'NAVBAR.products' | translate }}</a>
        <a (click)="scroll('aboutJacky')">{{'NAVBAR.aboutJacky' | translate }}</a>
        <a (click)="scroll('reviews')">{{'NAVBAR.reviews' | translate }}</a>
        <a (click)="scroll('book')" class="bookBtn">{{'NAVBAR.bookNow'| translate }}</a>
    </div>
    <a (click)="scroll('book')" class="bookBtn" id="mobileBookNow">{{'NAVBAR.bookNow' | translate }}</a>
    <a class="icon" id="hamburgerMenu" (click)="toggleMenu()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div id="navbarLinksMobile">
    <a (click)="scrollAndClose('intro')">{{'NAVBAR.home'| translate }}</a>
    <a (click)="scrollAndClose('treatments')">{{'NAVBAR.treatments' | translate }}</a>
    <a (click)="scrollAndClose('products')">{{'NAVBAR.products' | translate }}</a>
    <a (click)="scrollAndClose('aboutJacky')">{{'NAVBAR.aboutJacky' | translate }}</a>
    <a (click)="scrollAndClose('reviews')">{{'NAVBAR.reviews' | translate }}</a>
</div>

<app-intro-section id="intro"></app-intro-section>
<app-treatments id="treatments"></app-treatments>
<app-products id="products"></app-products>
<app-about id="aboutJacky"></app-about>
<app-reviews id="reviews"></app-reviews>
<app-scheduler id="book"></app-scheduler>
<app-footer></app-footer>

<button (click)="changeLang('en', 'enBtn')" class="langBtn chosenLangBtn" id="enBtn">ENG</button>
<button (click)="changeLang('es', 'esBtn')" class="langBtn" id="esBtn">ESP</button>


<button (click)="scroll('intro')" id="returnBtn"><i class="fas fa-chevron-up"></i></button>
