#signInWrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 16px 16px 25px rgb(0,0,0,0.2);
}

#signinTitle{
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #adadad;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

input::placeholder{
    color: #747474;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(141, 197, 181);
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #8DC5B5;
    color: white;
    letter-spacing: 1px;
}

#bodyWrapper{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/img/flor.jpg');
    background-size: cover;
    opacity: 1;
}