$dark-green: #4E6665;


swiper{
    display: none;
}

#treatmentsBackground{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #8DC5B5;
    height: 300px;
    color: white;
}

#swiperCointainer{
    position: relative !important; 
    top: -40px !important; 
    width: 800px !important; 
    overflow-x: hidden !important; 
    padding-bottom: 250px !important; 
    margin-bottom: -250px !important;
}

#treatmentsTitle{
    font-size: 40px;
    white-space: pre-line;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: -50px;
    letter-spacing: 8px;
    text-align: center;
    z-index: 12;
}

#treatmentsSubtitle{
    font-size: 20px;
    margin-top: 0;
    letter-spacing: 1px;
}

#treatmentsBtnWrapper{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.treatmentsBtn{
    padding: 10px 30px;
    background-color: #3e5c59;
    letter-spacing: 3px;
    font-size: 12px;
    margin-right: 30px;
    margin-left: 30px;
    cursor: pointer;
    transition: 1s;
}

.treatmentsBtn:hover{
    background-color: #8DC5B5;
}

.chosenBtn{
    background-color: #8DC5B5;
    box-shadow: 16px 16px 25px rgba(0, 0, 0, 0.20);
    border: 1px solid white;
}

.treatmentsSlider{
    position: relative;
    width: 100%;
    height: auto;
    overflow: visible;
}

.treatmentsPage{
    display: flex;
    justify-content: center;
    width: 90%;
    overflow: visible;
}

app-treatment-slide{
    display: block;
    height: 100%;
    width: 70%;
    margin-left: 15%;
    margin-right: 2.5%;
    cursor: pointer;
}

.popup{
    position: absolute;
    display: none;
    top: 250px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #8DC5B5;
    z-index: 1000;
}

.popupShow{
    display: flex;
}

#popupContainer{
    align-items: center;
}

.popupText{
    max-width: 50%;
    margin: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popupHeader{
    display: flex;
    align-items: center;
    width: 100%;
}

.popupLogo{
    width: 75px;
    height: 75px;
    margin-left: 30px;
    margin-right: 20px;
}

.popupTitle{
    width: max-content;
    font-size: 30px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin: 0;
    letter-spacing: 5px;
    max-width: 100%;
}

.popupBody{
    margin: 20px;
    margin-left: 30px;
    color: white;
    letter-spacing: 2px;
}

.popupImg, .popupImgMobile{
    width: 40%;
    max-width: 400px;
    max-height: 350px;
    margin: auto;
    box-shadow: 16px 16px 25px rgba(0, 0, 0, 0.20);
    margin-top: 40px;
    margin-bottom: 40px;
}

.popupImgMobile{
    display: none;
}

.exitBtn{
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    color: $dark-green;
    cursor: pointer;
}

.swipeText{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 5px;
    font-weight: 500;
    color:  #8DC5B5;
    font-size: 12px;    
    letter-spacing: 1px;
}

#covidText{
    text-align: center;
    margin-top: 5px;
    color:  $dark-green;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 40px;
}

.appointmentBtn{
    position: relative;
    display: block;
    padding: 10px;
    width: 200px;
    background-color: #4E6665;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    transition: 1s;
    z-index: 12;
}

.appointmentBtn:hover{
    background-color: #8DC5B5;
}

.chosenSlider{
    display: flex;
    position: relative;
    z-index: 11;
}

.popupBtn{
    bottom: 0px;
}

#swiperContainer{
    top: -40px;
}

@media only screen and (max-width: 1000px){
    #treatmentsTitle{
        font-size: 30px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 800px){

    #swiperCointainer{
        width: 100%;
    }

    .popup{
        top: 200px;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .popupImg{
        display: none;
    }

    .popupImgMobile{
       display: block;
       width: auto;
       max-width: 320px;
       height: auto;
    }

    .popupText{
        max-width: 90%;
        padding-right: 5%;
        margin-bottom: 0;
    }

    #treatmentsTitle{
        margin-top: 0;
        font-size: 30px;
    }

    #treatmentsBtnWrapper{
        flex-direction: column;
        width: 80%;
    }

    #treatmentsBackground{
        height: 450px;
    }

    .treatmentsBtn{
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .chosenSlider{
        top: 0px;
    }

    .appointmentBtn{
        display: block;
        width: 80%;
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 600px){
    #treatmentsTitle{
        font-size: 6vw;
        text-align: center;
        white-space: pre-line;
    }

    .swipeText{
        margin-top: 0;
    }

    #swiperContainer{
        top: -40px;
    }

    #treatmentsSubtitle{
        font-size: 3vw;
    }

    .popupTitle{
        font-size: 6vw;
    }

    .popupText{
        margin-left: 0;
    }

    .popupLogo{
        width: 50px;
        height: 50px;
    }

}

