.slideImg{
    width: 100%;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.20);
}

.slideTitle{
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    color: #4E6665;
    word-wrap: break-word;
}