/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    width: 100%;
}

a, button{
    cursor: pointer;
}

.petal, .petalMobile{
    position: fixed;
    width: 150px;
    height: 150px;
    z-index: 11;
}

.petalMobile{
    display: none;
}

.petalImg{
    width: 100%;
    height: 100%;
}

#petal1{
    top: 80vh;
}

#petal2{
    right: 10px;
    top: 15vh;
}

#petal3{
    right: 20px;
    top: 90vh;
    z-index: 8;
}

#petal4{
    top: 100vh;
    left: 40px;
    z-index: 8;
}

#petal5{
    top: 150vh;
}

#petal6{
    top: 1000px;
    right: 20px;
    z-index: 10;
}

#petal7{
    top: 1500px;
}

#petal8{
    top: 1800px;
    right: 70px;
    z-index: 7;
}

#petal9{
    top: 2100px;
}

#petal10{
    top: 2300px;
    right: 10px;
}

#petal11{
    top: 2450px;
    right: 0px;
    width: 250px;
    height: 250px;
    transform: rotate(340deg);
}

@media only screen and (max-width: 800px){
    .petal{
        display: none;
    }

    .petalMobile{
        display: block;
        position: absolute;
    }

    #petal12{
        top: 25vw;
        transform: rotate(90deg);
    }

    #petal13{
        top: 93vw;
        right: 10px;
        z-index: 7;
    }

    #petal14{
        top: 97vw;
    }

    #petal15{
        top: 230vh;
    }
    
}
